
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300;1,400&family=Stalemate&display=swap');


@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../font/StylishCalligraphyDemo.ttf) format('truetype');
/* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    // font-family: 'MyFont';
    font-weight: 400
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    letter-spacing: .2em;
    form{
        width: 400px;
        input{
            letter-spacing: .2em;
        }
        button{
            width: 100%;
        }
    }
}
table{
    font-size: 14px !important;
    font-weight: 800;
    letter-spacing: .1em;
    td,th{
        padding: 1px 10px;
        border: 1px solid #aec6cf;
        text-transform: capitalize;
    } 
    th{
        padding: 10px;
        text-align: center;
    }
    td{
        font-weight: 300;
    }
}

$brokenwhite: #f2f1ef;
$darkblue: #697184;
$pastelblue: #aec6cf;
$black: #413f3d;
$brown: #b1a6a4;

.custom_modal{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000 !important;
  }

  // overide modal fade react material ui
.modal_remove_outline {
    &:focus {
        outline: none;
    }
  }

//button stop music
.butstop{
    z-index: 1;
    position: sticky;
    bottom: 0px;
    // right: 0px;
    // padding-top: 10px;
    // background-color: aqua;
    text-align: right;
    // position: relative;
    svg{
        background-color: #fff;
        border-radius: 50%;
        margin: 20px;
        padding: 5px;
        cursor: pointer;
    }
}


@import './navbar.scss';
@import './home.scss';
@import './destination.scss';
@import './brides.scss';
@import './confirmation.scss';
@import './admin.scss';
@import './schedule.scss';