
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300;1,400&family=Stalemate&display=swap');


body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    letter-spacing: .2em;
    form{
        width: 400px;
        input{
            letter-spacing: .2em;
        }
        button{
            width: 100%;
        }
    }
}
table{
    font-size: 14px !important;
    font-weight: 800;
    letter-spacing: .1em;
    td,th{
        padding: 1px 10px;
        border: 1px solid #aec6cf;
        text-transform: capitalize;
    } 
    th{
        padding: 10px;
        text-align: center;
    }
    td{
        font-weight: 300;
    }
}

$brokenwhite: #f2f1ef;
$darkblue: #697184;
$pastelblue: #aec6cf;
$black: #413f3d;
$brown: #b1a6a4;


@import './navbar.scss';
@import './home.scss';
@import './destination.scss';
@import './schedule.scss';
@import './confirmation.scss';
@import './admin.scss';