.schedule{
    // background-color: $pastelblue;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    .box{
        // height: 90vh;
        // background-color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        h2{
            margin-bottom: 80px;
            color: white;
        }
        .cardcus{
            // width: 50%;
            position: relative;
            // height: 300px;
            padding: 30px;
            // overflow: hidden;
            p,svg,h3,h4,h5{
                // z-index: 1;
                position: relative;
                font-weight: bold;
            }
            svg{
                color: $brokenwhite;
            }
            .glass{
                border-radius: 20px;
                background-color: rgba(250, 246, 246, 0.676);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                backdrop-filter: blur(40px);
                filter:blur(4px);
                -o-filter:blur(4px);
                -ms-filter:blur(4px);
                -moz-filter:blur(4px);
                -webkit-filter:blur(4px);
            }
            svg{
                width: 45px;
                height: 45px;
            }
            h3{
                margin-bottom: 25px;
            }
            .wrapdate{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
        }
    }   
}